.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background:white;
    outline: none;
    opacity: 1;
    -webkit-transition: 1s;
    transition: opacity 1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 70%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:red;
    cursor: pointer;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center
    height:px;
}
.slidecontainerdoor {
    width: 100%; /* Width of the outside container */
    text-align: center
    height:50px;
}
.slidecontainercloth {
    width: 100%; /* Width of the outside container */
    text-align: center
    height:50px;
}
